@page
@model S2.AspNet.Repetition.Pages.LatestMemeModel
@{
    ViewData["Title"] = "LatestMeme";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>LatestMeme</h2>

<div class="generatedMeme">
    <img src="@Model.latestMeme.MemeImage.Url" />
    <div class="@Model.latestMeme.Position @Model.latestMeme.Size @Model.latestMeme.Color">
        @Model.latestMeme.Text
    </div>
</div>
