@page
@model S2.AspNet.Repetition.Pages.NewMemeModel
@{
    ViewData["Title"] = Model.MemeName;
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>@Model.MemeName</h2> 

@if (Model.MemeText != "")
{
    <div class="generatedMeme">
        <img src="@Model.SelectedImageUrl" />
        <div class="@Model.PositionOfText @Model.FontSize @Model.FontColor">
            @Model.MemeText
        </div>
    </div>
}

<a href="/">Tilbage til Memegeneratoren</a>