@page
@model S2.AspNet.Repetition.Pages.RandomMemeModel
@{
    ViewData["Title"] = "RandomMeme";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>RandomMeme</h2>

<div class="generatedMeme">
    <img src="@Model.randomMeme.MemeImage.Url" />
    <div class="@Model.randomMeme.Position @Model.randomMeme.Size @Model.randomMeme.Color">
        @Model.randomMeme.Text
    </div>
</div>
